# <img style="float: left; padding-right: 10px; width: 45px" src="https://raw.githubusercontent.com/Harvard-IACS/2018-CS109A/master/content/styles/iacs.png"> CS109A Introduction to Data Science: 
## Final Project: Mobility in United States During Covid

**Harvard University**<br/>
**Fall 2020**<br/>
**Instructors**: Pavlos Protopapas, Kevin Rader, and Chris Tanner

<hr style="height:2.4pt">

In [1]:
#RUN THIS CELL 
import requests
from IPython.core.display import HTML
# styles = requests.get("https://raw.githubusercontent.com/Harvard-IACS/2018-CS109A/master/content/styles/cs109.css").text
# HTML(styles)

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

### Import Libraries

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

This notebook will handle all the mobility data, like creating new csv files with smaller aspects of the data.

In [3]:
# read in the raw data again
df_raw = pd.read_csv("../../02_Data//05_Mobility/2020_US_Region_Mobility_Report.csv")

In [4]:
# take a quick look
df_raw.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0

In [5]:
# get all the national data and separate to its own csv file
df_national = df_raw.loc[df_raw['sub_region_1'].isnull()]

In [6]:
# drop preliminary unnecessary columns
df_national = df_national.drop(columns=['country_region_code', 'country_region'])

In [7]:
# the two sub_region_columns are also unnecessary now
df_national = df_national.drop(columns=['sub_region_1', 'sub_region_2'])

In [8]:
# finally, the two sub_region_columns are also unnecessary now
df_national = df_national.drop(columns=['metro_area', 'iso_3166_2_code', 'census_fips_code'])

In [9]:
df_national.head()

,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0

In [10]:
df_national.columns

Index(['date', 'retail_and_recreation_percent_change_from_baseline',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'workplaces_percent_change_from_baseline',
       'residential_percent_change_from_baseline'],
      dtype='object')

In [11]:
# send new df to its own csv file
df_national.to_csv(path_or_buf="../../02_Data//05_Mobility/US_Mobility_Report.csv", columns=df_national.columns, index=False)

Now let's do the same for all the states. We will save the data for all the states in its own csv file.

In [12]:
df_raw.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0

In [13]:
df_states = df_raw.loc[df_raw['sub_region_1'].notnull() & df_raw['sub_region_2'].isnull()]

In [14]:
# again, drop all columns that aren't necessary
df_states = df_states.drop(columns=['country_region_code', 'country_region', 'sub_region_2', 'metro_area', 'iso_3166_2_code', 'census_fips_code'])

In [15]:
df_states.describe()

,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
count,14484.000000,14484.000000,14039.000000,14349.000000,14484.000000,14484.000000
mean,-15.059997,-1.334231,59.447112,-20.045369,-27.536799,8.468517
std,16.528828,11.156965,79.094155,22.970866,15.634976,6.332393
min,-77.000000,-62.000000,-77.000000,-82.000000,-78.000000,-5.000000
25%,-24.000000,-7.000000,3.000000,-36.000000,-38.000000,4.000000
50%,-13.000000,-1.000000,40.000000,-21.000000,-30.000000,8.000000
75%,-4.000000,5.000000,98.000000,-2.000000,-16.000000,12.000000
max,41.000000,61.000000,636.000000,73.000000,18.000000,33.000000

In [16]:
# send new df to its own csv file
df_states.to_csv(path_or_buf="../../02_Data//05_Mobility/US_States_Mobility_Report.csv", columns=df_states.columns, index=False)